<ion-header>
    <ion-navbar color="secondary" text-center>
        <ion-title>Weather</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding class="weather">
    <ion-row>
        <ion-col width-100 text-center>
            <ion-searchbar (ionInput)="searchCities($event.target.value)" [(ngModel)]="searchStr" placeholder="City name here"></ion-searchbar>
            <ion-list *ngIf="searchStr" class="search-list">
                <ion-item class="city-item" *ngFor="let city of searchResults" (click)="selectCity(city)">
                    {{ city.name }}
                </ion-item>
            </ion-list>
        </ion-col>
    </ion-row>
    <ion-grid *ngIf="weather">
        <ion-row>
            <ion-col width-100 text-center>
                <h3 *ngIf="location">{{location.city}}, {{location.country}}</h3>
                <div class="icon"><img [src]="weather.icon_url"></div>
                <p>{{weather.condition}} - {{ inCel ? weather.temp_c+'&deg; C' : weather.temp_f+'&deg; F' }} </p>
                <small>at {{weather.time_string}}</small>

            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col width-100>
                <ion-list inset class="teal-list">
                    <ion-item>
                        Temp : {{weather.temp_c+'&deg; C ' + ' ( '+ weather.temp_f+'&deg; F )'}}
                    </ion-item>
                    <ion-item>
                        Humidity : {{weather.humidity}}
                    </ion-item>
                    <ion-item>
                        Feels Like : {{weather.feelslike_c+'&deg; C'}}
                    </ion-item>


                </ion-list>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>