page-home {}

.weather {
    background: papayawhip;
    color: teal;
}

.teal-list>ion-item {
    background: teal;
    color: papayawhip;
}

.search-list {
    max-height: 200px;
    overflow: scroll;
}